@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@inject SignInManager<ApplicationUser> SignInManager

@{
    var loggedInUserRole = "";

    @if (SignInManager.IsSignedIn(User))
    {
        loggedInUserRole = UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName;
    }

}
<!DOCTYPE html>

<html xmlns="../../../../../../www.w3.org/1999/xhtml/index.html">
<head>
    <title>TENNIS CLUB bootstrap responsive theme</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <meta name="author" content="corsini" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   

    <link href="~/css/component.css" rel="stylesheet" />

    <link href="~/css/style_dir.css" rel="stylesheet" />

</head>

<body>
    <!--SECTION HEADER-->
    <section class="container box-logo">
        <header>
            <div class="content-logo">

                <div class="logo">
                    <img src="~/img/logo2 .png" alt="" style="height:110px; width:140px;" />
                </div>

                @*<div class="box-login">

                        <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
                    </div>*@

                <div class="box-login">


                    @if (loggedInUserRole == "Administrator" || loggedInUserRole == "Trainer")
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Register" style=" display: inline-block;">Register new user</a>
                    }

                    @await Html.PartialAsync("_LoginPartial")



                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Register" style="display: inline-block;">Register</a>
                    }

                </div>
            </div>
        </header>
    </section>
    <!--SECTION CONTAINER-->
    <section class="drawer">
        <section id="summary">
            <div class="general">
                <!--SECTION MENU-->
                <div class="box-menu">
                    <nav id="cbp-hrmenu" class="container cbp-hrmenu">
                        <ul class="col-md-12">
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="StaticPages" asp-action="AboutUs">O NAMA</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="StaticPages" asp-action="TennisSchool">TENISKA ŠKOLA</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="StaticPages" asp-action="Gallery">GALERIJA SLIKA</a>
                            </li>

                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="Turnirs" asp-action="TurnirsIndex">TURNIRI</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="StaticPages" asp-action="Contact">KONTAKT</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="Reservations" asp-action="ReservationsIndex">REZERVACIJE</a>
                            </li>
                            @if (loggedInUserRole == "Trainer")
                            {
                                <li>
                                    <a class="lnk-menu" asp-area="" asp-controller="Account" asp-action="Users">SPORTISTI</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </section>
    <!--Close Top Container-->
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.transit.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#textslide p.creative').transition({ scale: 1, opacity: 1, delay: 1000, duration: 2000 });
        $('#textslide p.linetheme-left').transition({ x: '0px', opacity: 1, delay: 2000, duration: 1500 });
        $('#textslide p.linetheme-right').transition({ x: '0px', opacity: 1, delay: 2000, duration: 1500 });
        $('#textslide .titl-theme').transition({ opacity: 1, delay: 2500, duration: 2000 });
        $('.slide-txt img').transition({ opacity: 1, delay: 1000, duration: 2000 });

    </script>
    <!--MENU-->
    <script src="js/menu/modernizr.custom.js" type="text/javascript"></script>
    <script src="js/menu/cbpHorizontalMenu.js" type="text/javascript"></script>
    <!--END MENU-->
    <!--PERCENTAGE-->
    @*<script>
            $(function () {
                "use strict";
                $('.skillbar').each(function () {
                    $(this).find('.skillbar-bar').width(0);
                });

                $('.skillbar').each(function () {
                    $(this).find('.skillbar-bar').animate({
                        width: $(this).attr('data-percent')
                    }, 2000);
                });
            });
        </script>
        <script>
            jQuery(document).ready(function () {
                jQuery('.tabs .tab-links a').on('click', function (e) {
                    var currentAttrValue = jQuery(this).attr('href');

                    // Show/Hide Tabs
                    jQuery('.tabs ' + currentAttrValue).slideDown(400).siblings().slideUp(400);

                    // Change/remove current tab to active
                    jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                    e.preventDefault();
                });
            });
        </script>*@

    <!-- Percentace circolar -->
    <!--obrisano-->
    <!--Gallery-->
    <!--obrisano-->
    <!-- Button Anchor Top-->
    <!--obrisano-->
    <!--Carousel News Vertical-->
    <!--obrisano-->
    <!--Portfolio Video-->
    <!--obrisano-->

    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - TennisClub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>