


@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model TennisClub.Models.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/css/style_dir.css" rel="stylesheet" />

    <link href="~/css/component.css" rel="stylesheet" />

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

      /*  body {
            font-family: sans-serif;
            font-size: 25px;
        }*/

        .regform {
            width: 800px;
            height: 420px;
            background-color: rgba(0,0,0,0.6);
            margin: auto;
            color: #FFFFFF;
            padding: 10px 0px 10px 0px;
            text-align: center;
            border-radius: 15px 15px 0px 0px;
            margin-top: 120px
        }

        .main {
            background-color: rgba(0,0,0,0.5);
            width: 800px;
            margin: auto;
        }

        form {
            padding: 10px
        }


        .marginauto {
            margin: 10px auto 20px;
            display: block;
        }
    </style>
</head>

<body>
    <div class="registracija col-md-12">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="regform">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <h2 style="margin-top:40px; margin-bottom:30px; font-size:35px;"> LOG IN</h2>
                        <label asp-for="UserName" style="margin-top:40px; font-size:30px;"></label><div class="clear"></div>
                        <input asp-for="UserName" class="form-control"
                               style="margin-top:25px; margin-bottom:25px; height:40px; width:300px; text-align:center; font-size:25px;" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" style="margin-top:40px; font-size:30px;"></label><div class="clear"></div>
                        <input asp-for="Password" class="form-control"
                               style="margin-top:25px; margin-bottom:25px; height:40px; width:300px; text-align:center; font-size:25px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="background-color: darkorange; border-radius:6px; font-size:18px; margin-top:20px;">Log in</button>
                    </div>

            </form>
        </section>
    </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }


</body>
</html>