@model TennisClub.Models.TurnirsViewModel.Turnirs

@{
    ViewData["Title"] = "Create";
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/css/style_dir.css" rel="stylesheet" />

    <link href="~/css/component.css" rel="stylesheet" />

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        .regform {
            width: 900px;
            height: 540px;
            background-color: #e7831591;
            margin: auto;
            color: #100e0e;
            padding: 10px 0px 10px 0px;
            text-align: left;
            border-radius: 15px 15px 0px 0px;
            margin-top: 250px;
            font-weight: bold;
            
        }

        .main {
            background-color: #e78315ab;
            width: 800px;
            margin: auto;
            
        }

        form {
            padding: 10px
        }


        .marginauto {
            margin: 10px auto 20px;
            display: block;
        }
    </style>
</head>
<body>
    <div class="turniriedit col-md-12">

        <form asp-action="AddOrEdit">
            <div class="regform">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TurnirID" />
                <div class="form-group" style="margin-left:25px; margin-top:15px">
                    <label asp-for="TurnirsTitle" class="control-label" style="margin-top:40px; font-size:30px; margin-right:25px"></label>
                    <input asp-for="TurnirsTitle" class="form-control"
                           style="margin-top:25px; margin-bottom:25px; height:40px;  width:300px; text-align:center; font-size:25px;"/>
                    <span asp-validation-for="TurnirsTitle" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left:25px; ">
                    <label asp-for="StartDate" class="control-label" style="margin-top:40px; font-size:30px; margin-right:25px"></label>
                    <input asp-for="StartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")"
                           style="margin-top:25px; margin-bottom:25px; height:40px; width:400px; text-align:center; font-size:25px;" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left:25px;">
                    <label asp-for="EndDate" class="control-label" style="margin-top:40px; font-size:30px;margin-right:25px"></label>
                    <input asp-for="EndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")"
                           style="margin-top:25px; margin-bottom:25px; height:40px; width:400px; text-align:center; font-size:25px;" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left:25px;">
                    <label asp-for="NumberOfParticipants" class="control-label" style="margin-top:40px; font-size:30px; margin-right:25px"></label>
                    <input asp-for="NumberOfParticipants" class="form-control"
                           style="margin-top:25px; margin-bottom:25px; height:40px; width:300px; text-align:center; font-size:25px;" />
                    <span asp-validation-for="NumberOfParticipants" class="text-danger"></span>
                </div>
                <div class="form-row" style="margin-left:25px; ">
                    <div class="form-group col-md-6">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block"
                               style="        background-color: #464444;
        border-radius: 6px;
        font-size: 28px;
        margin-top: 20px;
        padding: 12px 29px;
        display: inline-block
"/>
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-action="TurnirsIndex" class="btn btn-secondary btn-block"
                           style="        background-color: #464444;
        border-radius: 6px;
        font-size: 28px;
        color: rgb(170, 170, 170);
        margin-top: 20px;
        padding: 12px 29px;
        display: inline-block
    ">
                            <i class="fa fa-table"></i>
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>