body{
    font-family: sans-serif;
}

h1{
    text-align:center;
}


.gallery {
    margin:10px 50px;
    
}

.gallery img {

    height: 400px;
    width: 600;
    padding: 05px;
    filter: grayscale(0);
    transition: 2s;

}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

/*img {
    border-radius: 8px;
    width: 230px;
}*/