<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="about-us py-5 " id="about-us">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class='text-success'>Welcome!</h1>
                <h2>O klubu</h2>
                <hr>
                TK Gazela je samostalna sportska organizacija osnovana radi organizovanog bavljenja tenisom sa statusom udruženja građanja. Klub je osnovan 1986. godine pod imenom
                TK Milentije Popović, a 1997. godine je promenio status i ime u TK Gazela. Po vremenu nastanka TK Gazela je četvrti klub u Beogradu. </p>
                <p>
                    Klub raspolaže sa četiri osvetljena, šljakasta terena, klupskom zgradom sa uređenim svlačionicama, kancelarijom i internim klub restoranom. Od nastanka pa do danas,
                    klub posluje kao neprofitna organizacija i sve prihode koje ostvaruje ulaže u sopstveni razvoj i školu tenisa.
                </p>

                <h2>Menadžment kuba</h2>
                <p>
                Najviši zakonodavni organ u teniskom klubu je skupština TK Gazela. Skupštinu čine redovni i počasni članovi.
                Svi članovi kluba imaju pravo da biraju i da budu birani u izvršne organe kluba, a to su: Upravni odbor, Nadzorni odbor i Predsednik kluba.
                Klub trenutno ima oko 200 članova koji se bave takmičarskim i rekreativnim tenisom.
                </p>

                <button type="button" class="btn btn-success">Let's Know More</button>

            </div>
            <div class="col-md-6">
                <img src="http://themebubble.com/demo/marketingpro/wp-content/uploads/2016/10/seo-slide.png " alt="">
            </div>
        </div>
    </div>
</section>