<html>
<head>
    <link href="~/css/gallery.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="gallery">
        <img src="~/images/gallery/2.jpg" />
        <img src="~/images/gallery/TSpage.jpg" />
        <img src="~/images/gallery/TK-Gazela-klupski-turnir-05-27-17-kafic.jpg" />
        <img src="~/images/gallery/TK-Gazela_02.jpg" />
        <img src="~/images/gallery/Teniski-klub-Gazela-Beograd-05.jpg" />
        <img src="~/images/gallery/kk (1).jpg" />
        <img src="~/images/gallery/gazela.jpg" />
        <img src="~/images/gallery/download (1).png" />
        <img src="~/images/gallery/download (1).jpg" />
    </div>
</body>
</html>