<!DOCTYPE html>

<html xmlns="../../../../../../www.w3.org/1999/xhtml/index.html">
<head>
    <title>TENNIS CLUB</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <meta name="author" content="corsini" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href='../../../../../../fonts.googleapis.com/cssa83f.css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css' />
    <link href='../../../../../../fonts.googleapis.com/css27c4.css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css' />
    <link href='../../../../../../fonts.googleapis.com/cssc601.css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <link href="css/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/stapel.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />
    <link href="css/component.css" rel="stylesheet" type="text/css" />
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="css/style_dir.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--SECTION HEADER-->
    <section class="container box-logo">
        <header>
            <div class="content-logo">

                <div class="logo">
                    <img src="~/img/logo2 .png" alt="" />
                </div>
                <div class="box-login">
                    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
                </div>

            </div>
            <div class="bt-menu"><a href="#" class="menu"><span>&equiv;</span> Menu</a></div>
        </header>
    </section>
    <!--SECTION CONTAINER-->
    <section class="drawer">
        <section id="summary">
            <div class="general">
                <!--SECTION MENU-->
                <div class="box-menu">
                    <nav id="cbp-hrmenu" class="container cbp-hrmenu">
                        <ul class="col-md-12">
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="StaticPages" asp-action="AboutUs">O NAMA</a>
                            </li>
                            <li>
                                <a class="lnk-menu" href="results.html">TENISKA ŠKOLA</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="StaticPages" asp-action="Gallery">GALERIJA SLIKA</a>
                            </li>
                            <li>
                                <a class="lnk-menu" href="shops.html">TURNIRI</a>
                            </li>
                            <li>
                                <a class="lnk-menu" asp-area="" asp-controller="StaticPages" asp-action="Contact">KONTAKT</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-12 size-img back-img-video">
                    <div class="effect-cover">
                        <h3 class="txt-advert animated">The best Tennis Action</h3>
                        <p class="txt-advert-sub">Photo gallery with the best action in the tournament.</p>
                    </div>
                </div>

                <section id="summary" class="container secondary-page">
                    <div class="general general-results tournaments">

                        <div class="top-score-title right-score col-md-9">
                            <h3>Photo <span>Gallery</span><span class="point-little">.</span></h3>
                            <!-- Category Filter -->
                            <dl class="group">
                                <dd>
                                    <ul class="filter group albumFilter">
                                        <li data-filter="*" class="current"><a href="#">ALL</a></li>
                                        <li data-filter=".cat1"><a href="#">ATP</a></li>
                                        <li data-filter=".cat2"><a href="#">WTP</a></li>
                                        <li data-filter=".cat3"><a href="#">BEAUTY</a></li>
                                        <li data-filter=".cat4"><a href="#">MEETING</a></li>
                                    </ul>
                                </dd>
                            </dl>

                            <!-- Portfolio Items -->
                            <ul class="portfolio group albumContainer">
                                <li class="item block cat2">
                                    <a href="images/gallery/1.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/9_thumb.jpg" alt="Yulia Gorbachenko, Hannah 1" /></a>
                                </li>
                                <li class="item block cat1">
                                    <a href="images/gallery/2.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/2_thumb.jpg" alt="Yulia Gorbachenko, Hair 1" /></a>
                                </li>
                                <li class="item block cat1">
                                    <a href="images/gallery/7.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/7_thumb.jpg" alt="Yulia Gorbachenko, Hair 2" /></a>
                                </li>
                                <li class="item block cat3">
                                    <a href="images/gallery/3.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/3_thumb.jpg" alt="Yulia Gorbachenko, Traction 1" /></a>
                                </li>
                                <li class="item block cat1 cat3">
                                    <a href="images/gallery/8.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/8_thumb.jpg" alt="Yulia Gorbachenko, Traction 1" /></a>
                                </li>
                                <li class="item block hiphop">
                                    <a href="images/gallery/4.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/4_thumb.jpg" alt="Yulia Gorbachenko, Beauty 2" /></a>
                                </li>
                                <li class="item block cat4">
                                    <a href="images/gallery/5.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/5_thumb.jpg" alt="Yulia Gorbachenko, Wavelength 1" /></a>
                                </li>
                                <li class="item block cat4">
                                    <a href="images/gallery/6.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/6_thumb.jpg" alt="Yulia Gorbachenko, On Fire 1" /></a>
                                </li>
                                <li class="item block cat1">
                                    <a href="images/gallery/7.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/7_thumb.jpg" alt="Yulia Gorbachenko, On Fire 2" /></a>
                                </li>
                                <li class="item block cat1">
                                    <a href="images/gallery/1.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/1_thumb.jpg" alt="Yulia Gorbachenko, Hair 3" /></a>
                                </li>
                                <li class="item block cat3">
                                    <a href="images/gallery/2.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/2_thumb.jpg" alt="Yulia Gorbachenko, On Fire 3" /></a>
                                </li>
                                <li class="item block cat3">
                                    <a href="images/gallery/5.jpg" rel="prettyPhoto[portfolio]"><img src="images/gallery/5_thumb.jpg" alt="Yulia Gorbachenko, Wavelength 2" /></a>
                                </li>
                            </ul>
                        
                <!--SECTION SPONSOR-->
                <div class="container">
                    <div class="client-sport client-sport-nomargin home-pg">
                        <div class="content-banner">
                            <ul class="sponsor second">
                                <li><img src="images/sponsor/2/02.png" alt="" /></li>
                                <li><img src="images/sponsor/2/03.png" alt="" /></li>
                                <li><img src="images/sponsor/2/04.png" alt="" /></li>
                                <li><img src="images/sponsor/2/06.png" alt="" /></li>
                                <li><img src="images/sponsor/2/08.png" alt="" /></li>
                                <li><img src="images/sponsor/2/13.png" alt="" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--SECTION FOOTER-->
        <section id="footer-tag">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h3>About Us</h3>
                        <p>
                            Hvala vam što ste posetili www.tkgazela.co.rs. Naša misija je da pružimo
                            nepristrasne informacije i resurse kako bismo pomogli bilo kojem ljubitelju sporta
                            da lako dobije sve potrebne informacije i rezerviše svoj termin.
                        </p>
                        <p>
                            Dodaj neki tekst bla bla
                        </p>
                    </div>
                    @*<div class="col-md-4 cat-footer">
                            <div class="footer-map"></div>
                            <h3 class='last-cat'>Last Categories</h3>
                            <ul class="last-tips">
                                <li><a href="tournaments.html">Tournaments</a></li>
                                <li><a href="results.html">All Results</a></li>
                                <li><a href="matches.html">Matches London ATP</a></li>
                                <li><a href="matches.html">Double ATP</a></li>
                                <li><a href="matches.html">Double WTP</a></li>
                                <li><a href="shops.html">Shop Best Price</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-newsletters">
                            <h3>Newsletters</h3>
                            <form method="post">
                                <div class="name">
                                    <label for="name">* Name:</label><div class="clear"></div>
                                    <input id="name" name="name" type="text" placeholder="e.g. Mr. John Doe" required="" />
                                </div>
                                <div class="email">
                                    <label for="email">* Email:</label><div class="clear"></div>
                                    <input id="email" name="email" type="text" placeholder="example@domain.com" required="" />
                                </div>
                                <div id="loader">
                                    <input type="submit" value="Submit" />
                                </div>
                            </form>
                        </div>*@
                    <div class="col-xs-12">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/tkgazela/" rel="stylesheet"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="http://maliigraci.rs/klubovi/tk-gazela/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/maliigraci/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-digg"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="col-md-12 content-footer">
                <p>© www.tkgazela.co.rs All rights reserved. </p>
            </div>
        </footer>
    </section><!--Close Top Container-->
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!--MENU-->
    <script src="js/menu/modernizr.custom.js" type="text/javascript"></script>
    <script src="js/menu/cbpHorizontalMenu.js" type="text/javascript"></script>
    <!--END MENU-->
    <!-- Button Anchor Top-->
    <script src="js/jquery.ui.totop.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <!--Gallery-->

    <script src="js/gallery/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $(".portfolio a").hover(function () {
                $(this).children("img").animate({ opacity: 0.75 }, "fast");
            }, function () {
                $(this).children("img").animate({ opacity: 1.0 }, "slow");
            });

            $("a[rel^='prettyPhoto']").prettyPhoto({
                animation_speed: 'fast', /* fast/slow/normal */
                slideshow: 5000, /* false OR interval time in ms */
                autoplay_slideshow: false, /* true/false */
                opacity: 0.80, /* Value between 0 and 1 */
                show_title: true, /* true/false */
                allow_resize: true, /* Resize the photos bigger than viewport. true/false */
                default_width: 500,
                default_height: 344,
                counter_separator_label: '/', /* The separator for the gallery counter 1 "of" 2 */
                theme: 'pp_default', /* light_rounded / dark_rounded / light_square / dark_square / facebook */
                horizontal_padding: 20, /* The padding on each side of the picture */
                hideflash: false, /* Hides all the flash object on a page, set to TRUE if flash appears over prettyPhoto */
                wmode: 'opaque' /* Set the flash wmode attribute */
            });
        });

    </script>
    <!--<script src="js/gallery/gallery.js" type="text/javascript"></script>-->
    <script src="js/gallery/isotope.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(window).load(function () {
            var $container = $('.albumContainer');
            $container.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('.albumFilter li').click(function () {
                $('.albumFilter .current').removeClass('current');
                $(this).addClass('current');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            });
        });

    </script>

</body>
</html>
